<%= javascript_include_tag "//maps.google.com/maps/api/js?v=3.2&sensor=false", "data-turbolinks-track" => true %>

<!-- This determines if data can be shown or not -->
<% if @show %>
	<div id="map" data-drifter="<%= @drifters %>">
	</div>
<% else %>
  Please wait for first data point to come in...
<% end %>

<script>
  //Construts the Google Satellite map for markers to go on top of
	var map = new L.Map('map', {center: new L.LatLng(<%= @latitude %>, <%= @longitude %>), zoom: 16});
  var googleLayer = new L.Google('SATELLITE');
  map.addLayer(googleLayer);

  //This defines how the markers look like
  // Choose which marker you want fron font-awesome
  var rocket = L.AwesomeMarkers.icon({
    icon: 'rocket',
    markerColor: 'darkblue',
    iconColor: 'yellow',
    prefix: 'fa'
  });

  //Constructs the markers on the map
 	var markers = new Array();
	<% if @l0 %>
		<% @l0.each do |location| %>
			<% name = location.drifter_name %>
			<% time = location.created_at.strftime('%b %d, %Y %l:%M:%S %p') %>
			<% speed = location.gps_speed %>
			var marker = L.marker([ <%= location.latitude%> , <%= location.longitude%>], {icon: rocket });
			marker.addTo(map).bindPopup("<b>"+"<%= name %>"+", "+"<%= time %>"+". My current speed is "+"<%= speed %>"+"</b>").openPopup();
			markers.push(marker);
		<% end%>
	<% end %>

	var popup = L.popup();

  //If you click idle anywhere
	function onMapClick(e) {
		popup
			.setLatLng(e.latlng)
			.setContent("You clicked the map at " + e.latlng.toString())
			.openOn(map);
	}
	map.on('click', onMapClick);

  //Removes all markers on the screen
	function removeAllMarkers(){
		for(i=0;i<markers.length;i++) {
			map.removeLayer(markers[i]);
		}
	}

  //Ping for new updates
	$(function() {
    setTimeout(updateComments, 5000);
  	function updateComments () {
  		if (typeof markers !== 'undefined' && markers.length >0 ) {
  			var drifters = $("#map").attr("data-drifter");
		  	$.getScript("/locations/reload.js?drifter=" + drifters);
      }
		  setTimeout(updateComments, 5000);
    };
	});
</script>

