<div id="index">
  <div class="page-header">
    <h1><%=t '.name', :default => t("model.name") %></h1>
    <h4><%= link_to "Purge Database", purge_path,
                                                  :confirm => 'Pressing this will remove the whole database. Wish to continue?',
                                                  :method => :delete,
                                                  :class => 'btn btn-mini btn-danger' %>
  </div>
  <h3>
    Download:
    <%= link_to "CSV", locations_path(format: "csv") %> |
    <%= link_to "Excel", locations_path(format: "xls") %>
  </h3>
  <h3>
   <% if flash[:alert] %>
    <div class="alert alert-warning"><%= flash[:alert] %></div>
   <% end %>
    Import:
    <%= form_tag import_locations_path, multipart: true do %>
      <%= file_field_tag :file %>
      <%= submit_tag "Import", :class => "btn btn-info" %>
    <% end %>
  </h3>
  <br>
  <h3>
    Elements recorded so far: <%= count_drift %>
  </h3>
  <table class="table table-striped table-condensed">
    <thead>
      <tr>
        <th><%= t '.id', :default => t("model.id") %></th>
        <th><%= t '.d_name', :default => t("model.d_name") %></th>
        <th><%= t '.lat', :default => t("model.lat")  %></th>
        <th><%= t '.long', :default => t("model.long")  %></th>
        <th><%= t '.created', :default => t("model.created")  %></th>
        <th><%= t '.speed', :default => t("model.speed")  %></th>
        <th><%= t '.s_name', :default => t("model.s_name")  %></th>
        <th><%= t '.s_dat', :default => t("model.s_dat")  %></th>
        <th><%= t '.battery', :default => t("model.battery")  %></th>
        <th><%= t '.g_time', :default => t("model.g_time")  %></th>
        <th><%= t '.g_tower', :default => t("model.g_tower")  %></th>
        <th><%= t '.actions', :default => t("helpers.actions") %></th>
      </tr>
    </thead>
    <tbody>
      <% @locations.each do |location| %>
        <tr>
          <td><%= link_to location.id, location_path(location) %></td>
          <td><%= location.drifter_name %></td>
          <td><%= location.latitude %></td>
          <td><%= location.longitude %></td>
          <td><%= location.created_at.strftime('%b %d, %Y %l:%M:%S %p') %></td>
          <td><%= location.gps_speed %></td>
          <td><%= location.sensor_name %></td>
          <td><%= location.sensor_data %></td>
          <td><%= location.battery_level %></td>
          <td><%= location.gps_time %></td>
          <td><%= location.gps_tower %></td>
          <td>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_location_path(location), :class => 'btn btn-mini' %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        location_path(location),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-mini btn-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
