<div id="show">
  <div class="page-header">
    <h1><%=t '.name', :default => t("model.name") %></h1>
  </div>

  <dl class="dl-horizontal">
    <dt>
      <strong><%= t '.id', :default => t("model.id") %>:</strong>
    </dt>
    <dd>
      <%= @location.id %>
    </dd>
    <dt>
      <strong>
        <%= t '.d_name', :default => t("model.d_name") %>:
      </strong>
    </dt>
    <dd><%= @location.drifter_name %></dd>
    <dt>
      <strong>
        <%= t '.created', :default => t("model.created") %>:
      </strong>
    </dt>
    <dd>
      <%= @location.created_at.strftime('%b %d, %Y %l:%M:%S %p') %>
    </dd>
    <dt>
      <strong><%= t '.lat', :default => t("model.lat") %>:</strong>
    </dt>
    <dd>
      <%= @location.latitude %>
    </dd>
    <dt>
      <strong>
        <%= t '.long', :default => t("model.long") %>:
      </strong>
    </dt>
    <dd>
      <%= @location.longitude %>
    </dd>
    <dt>
      <strong>
        <%= t '.speed', :default => t("model.speed") %>:
      </strong>
    </dt>
    <dd>
      <%= @location.gps_speed %>
    </dd>
    <dt>
      <strong>
        <%= t '.s_name', :default => t("model.s_name") %>:
      </strong>
    </dt>
    <dd>
      <%= @location.sensor_name %>
    </dd>
    <dt>
      <strong>
        <%= t '.s_dat', :default => t("model.s_dat") %>:
      </strong>
    </dt>
    <dd>
      <%= @location.sensor_data %>
    </dd>
    <dt>
      <strong>
        <%= t '.battery', :default => t("model.battery") %>:
      </strong>
    </dt>
    <dd>
      <%= @location.battery_level %>
    </dd>
    <dt>
      <strong>
        <%= t '.g_time', :default => t("model.g_time") %>:
      </strong>
    </dt>
    <dd>
      <%= @location.gps_time %>
    </dd>
    <dt>
      <strong>
        <%= t '.g_tower', :default => t("model.g_tower") %>:
      </strong>
    </dt>
    <dd>
      <%= @location.gps_tower %>
    </dd>
  </dl>

  <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@location.latitude}%2C#{@location.longitude}" %>

  <div class="form-actions">
    <%= link_to t('.back', :default => t("helpers.links.back")),
                locations_path, :class => 'btn'  %>
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_location_path(@location), :class => 'btn' %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                location_path(@location),
                :method => 'delete',
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-danger' %>
  </div>
</div>
