<!DOCTYPE html>
<html>
  <head>
    <title>Leaflet Drifter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Basic Global javascript and css-->
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <!-- leaflet css and java script -->
    <link rel="stylesheet" href="//cdn.leafletjs.com/leaflet-0.7.5/leaflet.css" />
    <script src="//cdn.leafletjs.com/leaflet-0.7.5/leaflet.js"></script>
    <!-- integrating google map and leaflet -->
    <%= javascript_include_tag "//matchingnotes.com/javascripts/leaflet-google.js", "data-turbolinks-track" => true %>
    <!-- fontmarker and integration to leaflet -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">    <%= stylesheet_link_tag "awesome" %>
    <%= javascript_include_tag "awesome.js" %>
    <!-- font -->
    <link href='//fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css'>
    <%= csrf_meta_tags %>
  </head>
  <body id="<%= params[:controller]+"-"+params[:action] %>">
    <%= render partial: "/layouts/header" %>
    <%= yield %>
  </body>
  <%= render partial: "/layouts/footer" %>
</html>
